# Archivos de proyecto de Android Studio
*.iml
.gradle/
.idea/

# Directorios de compilación
/build/
/app/build/

# Propiedades locales (estas nunca se deben subir)
local.properties

# Archivos de empaquetado de llaves
*.jks

# Archivos de log
*.log

# DS_Store y basura de SO
.DS_Store
Thumbs.db

